.post_component {
  padding: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

a:link {
  color: #191970;
}

a:visited {
  color: #191970;
}

a:hover {
  color: gray;
}

a:active {
  color: #191970;
}

.url-container {
  width: 325px;
  display: flex;
  justify-content: space-between;
}
